/* colors from colorbrewer2.org */
:root {
  --color-a: #1f78b4;
  --color-b: #33a02c;
  --color-c: #e31a1c;
  --color-d: #ff7f00;
  --color-e: #6a3d9a;
  --color-f: #a6cee3;
  --color-g: #b2df8a;
  --color-h: #fb9a99;
  --color-i: #fdbf6f;
  --color-j: #cab2d6;
}

html {
  font-size: 14px;
  scrollbar-gutter: stable;
}

body {
  color: #212529;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

h1 {
  font-weight: 500;
  margin-bottom: 0.2rem;
}

p {
  margin-top: 0;
}

h1 + p {
  font-size: 1.1rem;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

abbr {
  cursor: help;
}

figure {
  margin: 1rem;
}

figcaption,
label {
  font-weight: 500;
}

figcaption {
  text-align: center;
}

select {
  color: inherit;
  width: 100%;
}

.sidebar {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 0.25rem;
  padding: 1rem;
}

/* tabs */
nav > ul {
  border-bottom: 1px solid #dee2e6;
  display: flex;
  list-style: none;
  padding-left: 0;
}

nav li {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #0d6efd;
  cursor: pointer;
  margin-bottom: -1px;
  padding: 0.5rem 1rem;
}

nav li:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}

nav li.active {
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #ffffff;
  color: #495057;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

/* legend */
.legend {
  column-gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.legend > li {
  column-gap: 0.5rem;
  display: flex;
}

.legend > li::before {
  border-radius: 0.25rem;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
}

li.foreground-a::before {
  background-color: var(--color-a);
}

li.foreground-b::before {
  background-color: var(--color-b);
}

li.foreground-c::before {
  background-color: var(--color-c);
}

li.foreground-d::before {
  background-color: var(--color-d);
}

li.foreground-e::before {
  background-color: var(--color-e);
}

li.foreground-f::before {
  background-color: var(--color-f);
}

li.foreground-g::before {
  background-color: var(--color-g);
}

li.foreground-h::before {
  background-color: var(--color-h);
}

li.foreground-i::before {
  background-color: var(--color-i);
}

li.foreground-j::before {
  background-color: var(--color-j);
}

/* charts */
.ct-chart-line {
  overflow: visible;
}

.ct-series {
  cursor: pointer;
}

.background {
  stroke: #e5e5e5;
}

.ct-series.foreground-a {
  stroke: var(--color-a);
}

.ct-series.foreground-b {
  stroke: var(--color-b);
}

.ct-series.foreground-c {
  stroke: var(--color-c);
}

.ct-series.foreground-d {
  stroke: var(--color-d);
}

.ct-series.foreground-e {
  stroke: var(--color-e);
}

.ct-series.foreground-f {
  stroke: var(--color-f);
}

.ct-series.foreground-g {
  stroke: var(--color-g);
}

.ct-series.foreground-h {
  stroke: var(--color-h);
}

.ct-series.foreground-i {
  stroke: var(--color-i);
}

.ct-series.foreground-j {
  stroke: var(--color-j);
}

/* table */
table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}

tr {
  border: 1px solid #dee2e6;
}

th,
td {
  padding: 0.5rem;
}

th {
  text-align: left;
  vertical-align: bottom;
}

td:nth-child(n+2) {
  text-align: right;
}

tbody > tr:hover {
  background-color: #ececec;
}

tbody > tr {
  display: none;
}

tbody > tr.selected {
  display: table-row;
}

@media (min-width: 768px) {
  html {
    padding: 1rem;
  }

  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1550px;
  }

  .layout {
    align-items: flex-start;
    column-gap: 1rem;
    display: flex;
  }

  .sidebar {
    flex-basis: 30%;
  }

  main {
    flex-basis: 70%;
  }

  nav > ul {
    margin-top: 0;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  figure {
    flex-basis: 480px;
  }

  table {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}
